
<body class="bg-dark"> 
  <div class="container text-center">
    <div class="card card-login mx-auto mt-5">
       <div class="row">
            <div class="card-header text-right col-3"></div>
            <div class="card-header text-center col-6"><strong>Assignments</strong></div>
            <div class="card-header text-right col-3"><%= link_to 'Sign out', destroy_user_session_path, method: :delete%>&nbsp&nbsp</div>
         </div><!--ending div for "row"-->

        <div class="card-body">
          <div class='form-group'>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Stock</th>
                  <th>Portfolio</th>
                  <th>Functions</th>
                </tr>
              </thead>

              <tbody>
                <% @assignments.each do |assignment| %>
                  <tr>
                    <td><%= assignment.stock.ticker %></td>
                    <td><%= assignment.portfolio.name %></td>
                    <td><%= link_to 'Show', assignment %> | <%= link_to 'Edit', edit_assignment_path(assignment) %> | <%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <br>


            <%= link_to 'Home', portfolios_path %>
          </div><!--ending div for "form-group"-->
        </div><!--ending div for "card-body"-->
    </div><!-- ending div for "card card-login mx-auto mt-5"-->
     <%= link_to 'New Assignment', new_assignment_path %>  </div><!--ending div for "container text-center"-->
</body><!--ending body "bg-dark"-->