<p id="notice"><%= notice %></p>

<p>
  <strong>Ticker:</strong>
  <%= @assignment.stock.ticker %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @assignment.portfolio.name %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %> |
<%= link_to 'Home', portfolios_path%>