<body class="bg-dark"> 
  <div class="container text-center">
    <div class="card card-login mx-auto mt-5">
       <div class="row">
            <div class="card-header text-right col-3"></div>
            <div class="card-header text-center col-6"><strong>Portfolios</strong></div>
            <div class="card-header text-right col-3"><%= link_to 'Sign out', destroy_user_session_path, method: :delete%>&nbsp&nbsp</div>
         </div><!--ending div for "row"-->

        <div class="card-body">
          <div class='form-group'>
            <% @portfolios.each do |portfolio| %>
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                 <thead>
                      <strong><%= portfolio.name %></strong>
                   <tr>
                    <th>Ticker</th>
                    <th>Price</th>
                   </tr>
                 </thead>
                 <tbody>
                  <% portfolio.stocks.each do |a|%>
                   <tr>
                     <td><%= a.ticker %></td>
                     <td><%=a.price%></td>
                   </tr>
                  <%end%>
                 </tbody>
              </table>
              <%= link_to 'Add stock', new_portfolio_assignment_path(portfolio) %>  |
              <%= link_to 'Edit Portfolio Holdings', assignments_path(portfolio) %>  |
              <%= link_to 'Delete Portfolio', portfolio, method: :delete, data: {confirm: 'Really?'} %><br><br>
            <%end%>
          </div><!--ending div for "form-group"-->
        </div><!--ending div for "card-body"-->
    </div><!-- ending div for "card card-login mx-auto mt-5"-->
      <%= link_to 'Create a New Portfolio', new_portfolio_path %> | <%= link_to 'Create a new Stock', new_stock_path%>
  </div><!--ending div for "container text-center"-->
</body><!--ending body "bg-dark"-->