<!--<p id="notice"><%= notice %></p>-->
<body class="bg-dark"> 
  <div class="container text-center">
    <div class="card card-login mx-auto mt-5">
       <div class="row">
            <div class="card-header text-right col-3"></div>
            <div class="card-header text-center col-6"><strong>Available Stocks</strong></div>
            <div class="card-header text-right col-3"><%= link_to 'Sign out', destroy_user_session_path, method: :delete%>&nbsp&nbsp</div>
         </div><!--ending div for "row"-->

        <div class="card-body">
          <div class='form-group'>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Ticker</th>
                    <th>Price</th>
                    <th>Functions</th>
                  </tr>
                </thead>

                <tbody>
                  <% @stocks.each do |stock| %>
                    <tr>
                      <td><%= stock.ticker %></td>
                      <td><%= stock.price %></td>
                      <td><%= link_to 'Show', stock %> | <%= link_to 'Edit', edit_stock_path(stock) %> | <%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <br>
            <%= link_to 'Home', portfolios_path %>
          </div><!--ending div for "form-group"-->
        </div><!--ending div for "card-body"-->
    </div><!-- ending div for "card card-login mx-auto mt-5"-->
  <%= link_to 'New Stock', new_stock_path %>
</body><!--ending body "bg-dark"-->